<!DOCTYPE html>
<html lang="ko">
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	<title>52기 토너먼트 팝업</title>
  	<link rel="stylesheet" href="{{ url_for('static', filename='tornement_popup52.css') }}" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
  	<style>
        /* 닫기 버튼을 왼쪽 상단에 배치하기 위한 스타일 */
        .close-button {
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 5px 10px;
            background-color: #f44336; /* 빨간색 배경 */
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 14px;
        }
    </style>
</head>
<body>
  	<div class="tornement-popup52">
    		<div class="tornement-popup52-child"></div>
    		<div class="div">52기</div>
    		<div class="div1">&gt;</div>
    		<div class="div2">&gt;</div>
    		<div class="tornement-popup52-item"></div>
    		<a class="close-button" href="{{ url_for('main') }}">닫기</a>
  	</div>
</body>
</html>
